DirectoryIndex /index.php

Options -Indexes

RewriteEngine On
RewriteBase /

#handle 404 images, dont send this to script
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.(gif|jpg|jpeg|png|bmp|tif)$
RewriteRule .* 404.png [L]

RewriteCond %{REQUEST_FILENAME}       !-f
RewriteCond %{REQUEST_FILENAME}       !-d
RewriteCond %{REQUEST_URI}            !^/favicon.ico
RewriteRule ^(.+)$ /index.php?%{QUERY_STRING} [ENV=NOCORS:true,L]

Header setifempty Access-Control-Allow-Origin "*"
Header setifempty Access-Control-Allow-Methods: "GET"
Header setifempty Access-Control-Allow-Headers "x-requested-with, authorization, accept, accept-encoding"
